nav a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
img{
    width: 30px;
}
input[type="checkbox"]{
    display: none;
}
nav{
    background-color: var(--cor04);
    width: 350px;
    height: 100%;
    position: relative;
}
ul{
    position: absolute;
    top: 40px;

}
nav a{
    display: block;
    background-color: #184A89;
    padding: 20px 5px;
    color: black;
}
a:hover{
    background-color: var(--cor04);
    cursor: pointer;
}
label{
    background-color: white;
    padding: 15px;
    position: absolute;
}
/* USE PARA TESTES*/